{% extends "base.html" %}

{% block content %}
    <h2>Files for {{ branch }} Year - {{ year }}  Sem - {{ sem }}</h2>
    <ul>
        {% for file in files %}
            <li>
                {% if file.is_file() %}
                    <a href="{{ url_for('download_file', year=year, branch=branch, sem=sem, path=file.path) }}">{{ file.name }}</a>
                {% else %}
                    <a href="{{ url_for('files', year=year, branch=branch, sem=sem, path=file.path) }}">{{ file.name }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}